html{
  height: 1030px;
}
.page-main{
  height: 620px;
  padding-top: 30px;
}

.page-form-list{
  padding-top: 35px;
}
.pay_button{
  margin-top: 55px;
}
.page-form-list{
  width: 610px;
  height: 370px;
}
.model{
  width: 436px;
  height: 405px;
  border-radius: 20px;
  background:rgba(0,0,0,.6);
  margin-left: 16px;
  margin-right: 22px;
  color: white;
  line-height: 0px;
  font-size: 18px;
}
.triangle{
  margin-right: 19px;
}
.triangle img{
  margin-top: 170px;
}
.model,.triangle,.page-form-list{
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
}
.write{
  color: #f46227;
  font-size: 25px;
}
.model>p>span{
  color: #f46227;
}
.model p{
  margin-left: 25px;
  margin-top: 30px;
}
.model img{
  margin-right: 8px;
}
.model .finger{
  margin-left:30px;
}
#form-submit2{
  margin-left: 40px;
}


/*边框内容的样式*/
.content_border1{
  border: 1px solid #cccccc;
  height: 450px;
  width: 1150px;
  margin: 0 auto;
}


