html,body{
  height: 1125px;
}
.page-main{
  height: 700px;
  padding-top: 30px;
}
.page-form-list{
  width: 610px;
  height: 480px;
  background:#f6f5f5;
  margin-bottom: 20px;
}
.page-form{
  padding-top: 25px;
  margin-right: 30px;
}
.model{
  width: 432px;
  height: 460px;
  background: rgba(0,0,0,0.6);
  border-radius: 20px;
  font-size: 18px;
  color: white;
  line-height: 0px;
  margin-left:18px;
  margin-right: 25px;
  margin-top: -25px;
}
.model p{
  margin-left: 25px;
   margin-top: 30px;
}
.model,.page-form-list,.triangle{
  float: left;
  margin-top: 25px;
  margin-bottom: 38px;
}
.model>p>span{
  color: #f46227;
}
.triangle{
  margin-right: 19px;
  margin-top: 235px;
}
.model img{
  margin-right: 8px;
}
.model .finger{
  margin-left:30px;
}

.pay_button{
  margin-top: 55px;
}

/*边框内容区的样式*/
.content_border{
  border: 1px solid #cccccc;
  width: 1150px;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 20px;
  height: 520px;
}